<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(monthOfRegistering) { %>
        <div class="user-message user-message--error mb-3">
            Tháng <%= monthOfRegistering %> đã được quản lý xác nhận. Bạn không thể đăng ký nghỉ phép thêm!
        </div>
        <% } %>
        <div class="grid">
            <article class="card index-item" style="width:600px">
                <% if (employee.annualLeave > 0) { %>
                <header class="card__header">
                    <h1 class="index__title">Đăng ký nghỉ phép</h1>
                </header>
                <hr>
                <div class="container">
                    <form action="/post-register-leave" method="POST">
                        <div class="mb-3 row">
                            <label class="col-md-4" for="dateOff">Chọn ngày nghỉ:</label>
                            <div class="col-md-8">
                                <input type="date" class="form-control" required id="dateOff" name="dateOff">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-4" for="reasonOff">Lý do xin nghỉ:</label>
                            <div class="col-md-8">
                                <textarea class="form-control" name="reasonOff" id="reasonOff" rows="3" required></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-4" for="remainingDays">Số ngày nghỉ còn lại: </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="<%= employee.annualLeave %> Ngày" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="leaveHour" class="col-md-4">Chọn số giờ nghỉ phép:</label>
                            <div class="col-md-8">
                                <select name="leaveHour" class="form-select" id="leaveHour">
                                    <option value=1 selected>1 giờ</option>
                                    <option value=2>2 giờ</option>
                                    <option value=3>3 giờ</option>
                                    <option value=4>4 giờ</option>
                                    <option value=5>5 giờ</option>
                                    <option value=6>6 giờ</option>
                                    <option value=7>7 giờ</option>
                                    <option value=8>8 giờ</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mb-3 w-auto">Đăng ký</button>
                        </div>
                    </form>
                </div>
                <% } else { %>
                <header class="card__header">
                    <h1 class="index__title">Đăng ký nghỉ phép</h1>
                </header>
                <hr class="m-0">
                <div class="container">
                    <em><h4 class="my-4 text-center text-danger">Số ngày nghỉ phép còn lại của bạn là 0. Bạn không được phép đăng ký nghỉ phép!</h4></em>
                </div>
                <% } %>
            </article>
        </div>
    </main>
<%- include('../includes/end.ejs') %>