<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="grid">
            <article class="card index-item" style="width:800px">
                <header class="card__header">
                    <h1 class="index__title">Thông tin cá nhân</h1>
                </header>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 align-self-center">
                            <img
                            src="<%= employee.imageUrl %>"
                            alt="Ảnh đại diện"
                            style="width: 80%; height:auto; display: block; margin: auto;"
                            />
                        </div>
                        <div class="col-md-8">
                            <div class="mb-3 mx-3 row">
                                <label for="employeeId" class="col-md-6">ID:</label>
                                <input type="text" class="col-md-6" id="employeeId" name="employeeId" value="<%= employee._id %>" disabled>
                            </div>
                            <div class="mb-3 mx-3 row">
                                <label for="name" class="col-md-6">Họ và tên:</label>
                                <input type="text" class="col-md-6" id="name" name="name" value="<%= employee.name %>" disabled>
                            </div>
                            <div class="mb-3 mx-3 row">
                                <label for="doB" class="col-md-6">Ngày sinh:</label>
                                <input type="text" class="col-md-6" id="doB" name="doB" value="<%= employee.doB %>" disabled>
                            </div>
                            <div class="mb-3 mx-3 row">
                                <label for="salaryScale" class="col-md-6">Bậc lương: </label>
                                <input type="text" class="col-md-6" id="salaryScale" name="salaryScale" value="<%= employee.salaryScale %>" disabled>
                            </div>
                            <div class="mb-3 mx-3 row">
                                <label for="startDate" class="col-md-6">Ngày bắt đầu:</label>
                                <input type="text" class="col-md-6" id="startDate" name="startDate" value="<%= employee.startDate %>" disabled>
                            </div>
                            <div class="mb-3 mx-3 row">
                                <label for="department" class="col-md-6">Phòng ban: </label>
                                <input type="text" class="col-md-6" id="department" name="department" value="<%= employee.department %>" disabled>
                            </div>
                            <div class="mb-3 mx-3 row">
                                <label for="annualLeave" class="col-md-6">Số ngày nghỉ phép còn lại: </label>
                                <input type="text" class="col-md-6" id="annualLeave" name="annualLeave" value="<%= employee.annualLeave %>" disabled>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center mb-4">
                        <a href="/edit-employee-info/<%= employee._id %>" class="btn btn-primary" style="width: auto">Chỉnh sửa thông tin cá nhân</a>
                    </div>
                </div>
            </article>
        </div>
    </main>
<%- include('../includes/end.ejs') %>